@font-face {
  font-family: 'AG-regular';
  src: url('fonts/AktivGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AG-bold';
  src: url('fonts/AktivGrotesk-Medium.ttf') format('truetype');
}
