@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'AG-regular';
  src: url(/fonts/AktivGrotesk-Regular.ttf);
}

@font-face {
  font-family: 'AG-bold';
  src: url(/fonts/AktivGrotesk-Medium.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Cormorant SC', sans-serif;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff3147;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 4rem;
}

h4 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 1170px) {
  *,
  *::after,
  *::before {
    font-size: 50%;
  }
}
