.client-feedback-section {
  max-width: 831px;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.client-feedback-section > div {
  position: relative;
  margin: 1.6rem 0 2.4rem 0;
}

.client-feedback-section > div > img {
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -20px;
}

.client-feedback-section > div > p {
  font-size: 2rem;
}

.client-feedback-section > p > span {
  color: #ff3147;
  font-weight: 700;
  font-size: 2rem;
}

.client-feedback-section > p {
  color: #808080;
  font-weight: 300;
  font-size: 2rem;
}

@media (max-width: 1170px) {
  .client-feedback-section > p {
    font-size: 1.6rem;
  }

  .client-feedback-section > div > p {
    font-size: 1.6rem;
  }

  .client-feedback-section > p > span {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .client-feedback-section {
    max-width: 631px;
  }
}

@media (max-width: 568px) {
  .client-feedback-section > div > p {
    font-size: 1.4rem;
  }

  .client-feedback-section > p > span {
    font-size: 1.4rem;
  }

  .client-feedback-section > p {
    font-size: 1.4rem;
    max-width: 90%;
    margin: 1rem auto;
  }

  .client-feedback-section > div {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
}
